{% extends 'base.html.twig' %}
{% block header %}
	<div class="container-fluid section-top"></div>
{% endblock %}

{% block body %}
	{% block stylesheets %}
		<link rel="stylesheet" href="/assets/css/design-system.css">
		<link rel="stylesheet" href="/assets/css/profil.css">
	{% endblock %}

	{% set age = date("now").diff(date(userData.birthdate)).y %}
	<main>

		<div class="profil-container d-flex flex-wrap justify-content-center">


			<div class="profil-img-wrapper">
				<img src="/assets/img/{{userData.profilePicture}}"  alt="">
			</div>

			<!---------------------- Profil Summary ------------------------>
			{% if personality != null %}
			<div class="section section-container profil-summary-container text-center p-4">
				<div class="profil-summary-top d-flex justify-content-between align-items-center">
					<div class="profil-summary-top-left d-flex align-items-center">
						<a href="">
							<img src="/assets/img/{{ personality.personalityPicture }}" alt="">
						</a>

						<div class="profil-summary-top-left-title-wrapper">
						{% set categories = {1: 'Les Meneurs', 2 : 'Les Éclaireurs', 3 : 'Les Émancipateurs', 4 : 'Les Intermédiaires'}
 %}
							<h5 class="profil-summary-top-left-title-1 fw-bold">Explorateur {{ categories[personality.idCategory] }}</h5>
							<div class="profil-summary-top-left-title-2">{{ personality.typeOfPersonality }}</div>
						</div>
					</div>
					<div class="profil-summary-top-right">
						<h5 class="profil-summary-top-right-title fw-bold">Random Amigos</h5>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
							<label class="form-check-label" for="flexSwitchCheckChecked">Off/On</label>
						</div>
					</div>
				</div>
			{% endif %}
				<div class="profil-summary-description-container d-flex flex-wrap justify-content-center text-center text-dark">
					<div class="section profil-summary-description-title mb-0">
						<h4>{{userData.firstname}} {{userData.name}} </h4>
					</div>
					<div class="profil-summary-description">
						{{userData.description}} 
																																																						                        seule ou en groupe :), je suis nouvelle sur ce site c’est pourquoi je cherche des Amisgo pour
																																																						                        réaliser ma première expérience !
					</div>
				</div>
				<div class="profil-summary-badge-container d-flex justify-content-center">
					<span class="badge  btn-profil p-2"> {{ age }}
ans</span>
					<span class="badge btn-profil p-2">{{userData.city}} </span>
				</div>
			</div>

			<!---------------------- Liked Events Section -------------------------->
			<div class="section section-container profil-cards-container text-center p-4">
				<div class="profil-cards-title">
					<h4>Evénements likés</h4>
				</div>
				<div class="section profil-cards-wrapper d-flex justify-content-between">
					<div class="profil-card-add d-flex flex-column justify-content-evenly align-items-center">
						<div class="profil-card-add-title">
							Voir plus d'événements
						</div>
						<button class="d-flex justify-content-center align-items-center"><img src="assets/icons/icone-add.svg" alt=""></button>
					</div>
					<div class="profil-card d-flex flex-column justify-content-evenly align-items-center">
						<div class="profil-card-title">
							Tu n'as pas encore liké d'événements
						</div>
					</div>
				</div>
			</div>

			<!---------------------- Recommandations Section -------------------------->
			<div class="section section-container profil-cards-container text-center p-4">
				<div class="row profil-cards-title">
					<h4>Recommandations</h4>
				</div>
				<div class="section profil-cards-wrapper d-flex justify-content-start">
					<div class="profil-card-add d-flex flex-column justify-content-evenly align-items-center">
						<div class="profil-card-add-title">
							Voir plus d'événements
						</div>
						<button class="d-flex justify-content-center align-items-center"><img src="assets/icons/icone-add.svg" alt=""></button>
					</div>
					<div class="custom-card-item">
						<div class="custom-card-item-top-wrapper">
							<a href="">
								<img src="/assets/img/biking-activity.jpg" alt="">
							</a>

							<div
								class="custom-card-item-top d-flex flex-column justify-content-center align-items-center">{# <p>Recommandé</p>
																																																																																	                                <p>15 Juillet 2022</p> #}
							</div>
						</div>


					</div>
				</div>
			</div>

			<!---------------------- Participations Section -------------------------->
			<div class="container section section-container profil-cards-container text-center p-4">
				<div class="row profil-cards-title">
					<h4>Participations</h4>
				</div>
				<div class="section profil-cards-wrapper d-flex justify-content-start">
					<div class="profil-card-add d-flex flex-column justify-content-evenly align-items-center">
						<div class="profil-card-add-title">
							Voir plus d'événements
						</div>
						<button class="d-flex justify-content-center align-items-center"><img src="assets/icons/icone-add.svg" alt=""></button>
					</div>
					<div class="custom-card-item">
						<div class="custom-card-item-top-wrapper">
							<a href="">
								<img src="/assets/img/kayak-activity.jpg" alt="">
							</a>
							<div class="custom-card-item-top d-flex flex-column justify-content-center align-items-center">
								<p>Inscrite !</p>
								<p>15 Juillet 2022</p>
							</div>
						</div>
						<div class="custom-card-item-bottom d-flex flex-column justify-content-center align-items-center">
							<h5>Canoë Kayak 77</h5>
							<p>Vaires-Sur-Marne</p>
						</div>
					</div>
				</div>
			</div>

			<a href="{{ path('app_persotest') }}">
			<button class="btn btn-heroshot">Refaire le test</button></a>
		</div>
	</main>


{% endblock %}
