{% extends 'base.html.twig' %}

{% block title %}Activité{% endblock %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% block stylesheets %}
            <link rel="stylesheet" href="/assets/css/design-system.css">
<link rel="stylesheet" href="/assets/css/kayak.css">
	<link rel="stylesheet" href="assets/styles/comments.css"/> 

{# link vers une api pour afficher la map #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
{# script lié a une api pour afficher la map #}
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
        {% endblock %}

        <body id="activites">
	<!------------------------ HEADER START------------------------>
	<header>
		<div class="container mw-100 px-0">
			
         <div class="container-fluid section-top-activitee" style="background-image: url({{asset('assets/img/' ~ event.eventPicture)}})">
		 </div>


			<div class="activity-participation-section">
				<div class="activity-summary-container d-flex flex-wrap justify-content-around">
					<div class="activity-back">
						<img class="color" ="/assets/icons/icone-left-arrow.svg" alt="">
					</div>
					<div class="activity-admin d-flex flex-column align-items-center">
						
					<div class="activity-admin-picture">
						<img src="/assets/img/admin-julien.png" alt="">
					</div>
					<h5>Admin</h5>
					</div>
					<div class="activity-summary text-center d-flex flex-column justify-content-center">
						<h4>{{event.typeOfEvent}}</h4>
						<div>
							{{event.description}}
						</div>
					</div>
					<div class="activity-participation d-flex justify-content-around" >
						<button class="icon-btn">
							<img src="/assets/icons/icone-heart-outlined-black.svg" alt="">
						</button>
						{# Si l'evenement est complet  et user n'est pas inscrit#}
						{% if (closed == true and not app.user) or ( (closed == true and app.user) and not participed) %}
							<button> Complet !</button>
						{# Sinon si l'utilisateur est connecté #}
						{% elseif app.user %}
							{# Proposer desinscription ou participation selon ça situation #}               
							<button class="participe" data-rejoins="active" data-id={{ event.id }} 
							{# si l'user est déja inscrit #}
							{% if participed == true %} data-action = "in"
							{% else %} data-action = "out"{% endif %}
							data-new = "">
							</button>
						{# si l'user n'est pas connecté, lui proposer de se connecter #}
						{% else %}
							<a href="{{path("app_login")}}"><p>Connectez-vous pour participer !</p></a>
						{% endif %}
					</div>
				</div>
				<div class="activity-summary-more d-flex flex-wrap justify-content-center">
					<div class="activity-summary-more-desc col-4 text-center p-3">
					  lorem
			      
		
				</div>
			</div>
		</div>
	</header>
	<!------------------------ HEADER END------------------------>
	<!------------------------ MAIN START------------------------>
	<main>
		<div class="container text-center 
		d-flex flex-wrap justify-content-center 
		activity-informations-container">
			<div class="activity-information-item">
				<h4>information sur l'activité</h4>
				<p>Adresse : <span>{{event.address1}}</span></p>
				<p>Parcours : <span>Escapade entre aventurier</span></p>
				<p>Distance de parcours : <span>{{event.distance}}</span></p>
				<p>Niveau : <span>{{event.niveau}}</span></p>
				<p>Horaire de départ : <span>10h00</span></p>
				<p>Temps estimé de l'activité : <span>{{event.estimatedTime}}</span></p>

				<div class="activity-information-item-description">
					<p>Tout le matériel vous est fourni</p>
					<div>
						Notre matériel est régulièrement contrôlé. Une partie du stock est renouvelé chaque année pour
						répondre à toutes les normes de sécurité.
					</div>
				</div>

				<div class="activity-information-item-description">
					<p>Que dois-je emporter pour mon activité ?</p>
					<div>
						Le devis imprimé ou le billet électronique reçu lors de votre réservation, pour avoir accès
						gratuitement
						au Parc Floral.
						Pensez à emporter un petit pique-nique pour la pause a midi. Si jamais vous voulez vous
						faciliter la vie, il y a des restaurants disponibles et qui serez ravis de vous accueillir tout
						autour du complexe.
					</div>
				</div>
			</div>
			<div class="activity-information-item d-flex justify-content-center flex-wrap">
				<h4>Informations utiles</h4>
				<div class="activity-information-item-description">
						{{event.description}}

						<br>

						
				</div>

				<div class="activity-information-item-description">
					<p>En cas de mauvais temps</p>
					<div>
						Vous avez réservé un moment d’accrobranche mais le temps n’est pas au rendez-vous ? Nous vous
						proposons un autre rendez-vous.
					</div>
				</div>

				<div class="activity-information-item-description">
					<p>Qui sont-ils?</p>
					<div>
						Moniteurs diplômés d’accrobranche, depuis 2014 l’équipe d’Evasion Verte accueille tout au long
						de l’année des familles et des passionnés de nature et de sport en plein air, venus de toute la
						France et de l’étranger.
					</div>
				</div>

				<div class="activity-price d-flex justify-content-center">
					<div class="title">Tarifs&nbsp;</div>
					<div class="price">&nbsp;{{event.price}}</div>
				</div>
			</div>

			 <div id="map" class="py-2" style="width:600px; height:400px;"></div>
			 
      <! ----------------- Activity Participants Section ------------------->
		{% if personalities %}
		<div class="activity-participants-container d-flex flex-wrap justify-content-center text-center" style="min-width: 1150px">
			<h4 class="section mb-4">Participants</h4>
			<div class="activity-particpants-wrapper d-flex flex-wrap justify-content-evenly">
			{% for perso in personalities %}
				<div class="activity-participant-item d-flex flex-column align-items-center p-3">
					<div class="activity-participant-img">
						<img src="/assets/img/icon-face01.jpg" alt="">
					</div>
					<div class="activity-participant-title mb-4">{{ perso.firstname}} {{ perso.name}}</div>
					<div class="activity-participant-description-wrapper d-flex align-items-center">
						<img src="/assets/img/{{persoImg}}" alt="">
						<div class="activity-particpant-description">{{ persona}}</div>
					</div>
				</div>
			{% endfor %}
				
				<div class="activity-participant-item invitation d-flex flex-column align-items-center p-3">
					<div class="activity-participant-img">
						<img src="/assets/icons/icone-user.svg" alt="">
					</div>
					<div class="activity-participant-title mb-4">Inviter un Amigo</div>
					<div class="activity-participant-description-wrapper d-flex align-items-center">
						<button class="d-flex justify-content-center align-items-center">
							<img src="/assets/icons/icone-add.svg" alt="">
						</button>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="activity-participation d-flex justify-content-around p-3" >
			{% if (closed == true and not app.user) or ( (closed == true and app.user) and not participed) %}
				<button> Complet !</button>
			{% elseif app.user %}
				<button class="participe" data-rejoins = "active"></button>
			</div>
			{%  endif %}
		</div>
     
	
</div>

	</div>
    
 
    {% if app.user and participed %}
	<div class="activity-chat-container d-flex flex-wrap justify-content-center">
		<div class="activity-chat-title section text-center mb-3">
			<h4>Conversation de groupe</h4>
		</div>
		<div class="container-chat">
			<div class="chat-conversation-container">
				<div class="chat-conversation-wrapper d-flex justify-content-center align-items-end mb-5">
					
						<div class="container w-75" id="root" 
						{% if app.user %} 
						data-user = {{app.user.id}} 
						{% else %} 
						data-user = "" 
						{% endif %}>
					
				</div>
			</div>	
		</div>
	</div>
	{% endif %}

	</main>
    {% endblock %}

 
{% block javascripts %}
		 
	<script src="/javascript/map.js"></script>
	<script src="/javascript/event.js"></script>


	{{ encore_entry_script_tags('comments') }}
  <script>
    //recuperation des champs liés a l'adresse d'un evenement dans notre base de données
    addMarkerFromAdress('{{event.address1}} {{event.zipcode}} {{event.city}}');
  </script>
 
{% endblock %}