{% extends 'base.html.twig' %}

{% block title %}Activités
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="assets/css/activites.css">
	
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="container-fluid section-top activite-pict mb-5">
		<div class="row">
			<div class="col-12 col-xl-8">
				<h1>Apprendre le langage des Fleurs</h1>
				<p class="">
					Dîtes-le avec des fleurs ! Chez ARUM , venez et apprenez à réaliser un bouquet de fleurs ou une composition florale selon vos envies, votre créativité et votre personnalité.
				</p>
				<div class="d-flex justify-content-end me-5" id="decouvrir">
					<button type="button" class="btn btn-heroshot">
						<a href="#">Découvrir</a>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--------------------- IMPORTANT METTRE le div root à l'endroit où l'on souhaite qu'il soit affiché sur la page -------------------->
	<div class="container w-75" id="root"></div>


	<!-- Filter Button Section -->

	<div class="d-flex flex-wrap justify-content-around section" id="filter-button-wrapper">
		<div class="row">
		{% for key, box in filtre %}
			<div class="col-3">
			<button id="{{key}}" class="filter-button d-flex btn btn-warning align-items-center p-2 m-auto mt-3 mb-3">
				<div class="icon-background">
					<img src="assets/icons/icone-{{ key }}.svg" alt="">
				</div>
				<div class="activity-title">{{box }}</div>
			</button>
		</div>
		{% endfor %}
		</div>
	</div>
	<!--------------------- Recommandations Section -------------------->
	<div class="section container-fluid section-cards-container">
		<h3 class="cards-title">Recommandés pour vous</h3>
		<h3>{{ messageUser }}</h3>

		<div class="section cards-container d-flex justify-content-around">
			{% set i = 0 %}
			{% for suggestedEvent in suggestedEvents %}
				{% set display = 'block' %}
				{% if i > 3 %}
					{% set display = 'none' %}
				{% endif %}
				<article class="col-6 card-item d-flex flex-row" data-category="{{suggestedEvent.category}}" style="display:{{display}}">
					<div class="card-item-img-wrapper">
						<div class="card-item-like-icon">
							<button><img src="assets/icons/icone-heart.svg" alt=""></button>
						</div>
						<img class="card-item-img" src="assets/img/{{ suggestedEvent.eventPicture }}" alt="">
					</div>

					<div class="d-flex flex-column card-item-body">
						<time class="d-flex justify-content-end" datetime="2018-07-03T20:00:00">{{ suggestedEvent.dateOfEvent|date("d F y H:m")}}</time>
						<div class="card-item-body-container">
							
							{# AJOUT D'UN LIEN DYNAMIQUE VERS UNE PAGE ACTIVITE EN PARTICULIER EN RECUPERANT L'ID POUR LE RAJOUTER DYNAMIQUEMENT AU PATH #} 
							<a href="{{ path('app_event_details', {'id': suggestedEvent.id}) }}"><h4 class="text-start">{{ suggestedEvent.title }}</h4></a>
							<h5 class="text-start">{{ suggestedEvent.city }}</h5>
							<p class="text-start1 lh-1 p-3">{{ suggestedEvent.description }}</p>
							<div class="d-flex flex-row justify-content-between">
								<div class="filtre">
									<button class="d-flex btn card-filter-btn btn-warning align-items-center justify-content-start p-0">
										<div class="icon-background">
											<img src="assets/icons/icone-pleinair.svg" alt="">
										</div>
										<div class="card-activity-title mx-2">{{ suggestedEvent.typeOfEvent}}</div>
									</button>
								</div>

								<div class="d-flex justify-content-end iconeparticipants align-items-center">
									<div class="icon-wrapper icons-position icon-position-1"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-2"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-3"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-4"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-5"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-6">{{ suggestedEvent.participantsRegistered}}/{{ suggestedEvent.participantsMax }}</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				

				{% set i = i + 1 %}
			{% endfor %}
		</div>
		<button class="see-more-btn">En voir plus</button>
	</div>

	<!--------------------- Popular Section -------------------->
	<div class="section container-fluid section-cards-container">
		<h3 class="cards-title">Les plus populaires</h3>
		<h3>{{ message }}</h3>
		<div class="section  cards-container d-flex justify-content-around">
			{% set i = 0 %}
			{% for popularEvent in popularEvents %}
				{% set display = 'block' %}
				{% if i > 3 %}
					{% set display = 'none !important' %}
				{% endif %}
				<article class="col-6 card-item d-flex flex-row" data-category="{{popularEvent.category}}" style="display:{{display}}">
					<div class="card-item-img-wrapper">
						<div class="card-item-like-icon">
							<button><img src="assets/icons/icone-heart.svg" alt=""></button>
						</div>
						<img class="card-item-img" src="assets/img/{{ popularEvent.eventPicture }}" alt="">
					</div>

					<div class="d-flex flex-column card-item-body">
						<time class="d-flex justify-content-end" datetime="2018-07-03T20:00:00">{{ popularEvent.dateOfEvent|date("d F y H:m")}}</time>
						<div class="card-item-body-container">

							{# AJOUT D'UN LIEN DYNAMIQUE VERS UNE PAGE ACTIVITE EN PARTICULIER EN RECUPERANT L'ID POUR LE RAJOUTER DYNAMIQUEMENT AU PATH #} 
							<a href="{{ path('app_event_details', {'id': popularEvent.id}) }}"><h4 class="text-start">{{ popularEvent.title }}</h4></a>
							<h5 class="text-start">{{ popularEvent.city }}</h5>
							<p class="text-start1 lh-1 p-3">{{ popularEvent.description }}</p>

							<div class="d-flex flex-row justify-content-between">
								<div class="filtre">
									<button class="d-flex btn card-filter-btn btn-warning align-items-center justify-content-start p-0">
										<div class="icon-background">
											<img src="assets/icons/mountains_88302.svg" alt="">
										</div>
										<div class="card-activity-title mx-2">{{ popularEvent.typeOfEvent }}</div>
									</button>
								</div>

								<div class="d-flex justify-content-end iconeparticipants align-items-center">
									<div class="icon-wrapper icons-position icon-position-1"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-2"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-3"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-4"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-5"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-6">{{ popularEvent.participantsRegistered}}/{{ popularEvent.participantsMax }}</div>
								</div>
							</div>
						</div>
					</div>
				</article>

				{% set i = i + 1 %}
			{% endfor %}

		</div>
		<button class="see-more-btn">En voir plus</button>
	</div>


	<!--------------------- Coming soon Section -------------------->
	<div class="section container-fluid section-cards-container">
		<h3 class="cards-title">A venir</h3>
		<h3>{{ message }}</h3>
		<div class="section cards-container d-flex justify-content-around">
			{% set i = 0 %}
			{% for futureEvent in futureEvents %}
				{% set display = 'block' %}
				{% if i > 3 %}
					{% set display = 'none !important' %}
				{% endif %}
				<article class="col-6 card-item d-flex flex-row" data-category="{{futureEvent.category}}" style="display:{{display}}">
					<div class="card-item-img-wrapper">
						<div class="card-item-like-icon">
							<button><img src="assets/icons/icone-heart.svg" alt=""></button>
						</div>
						<img class="card-item-img" src="assets/img/{{ futureEvent.eventPicture }}" alt="">
					</div>

					<div class="d-flex flex-column card-item-body">
						<time class="d-flex justify-content-end" datetime="2018-07-03T20:00:00">{{futureEvent.dateOfEvent|date("d F y H:m")}}</time>
						<div class="card-item-body-container">
							{# AJOUT D'UN LIEN DYNAMIQUE VERS UNE PAGE ACTIVITE EN PARTICULIER EN RECUPERANT L'ID POUR LE RAJOUTER DYNAMIQUEMENT AU PATH #} 
							<a href="{{ path('app_event_details', {'id': futureEvent.id}) }}"><h4 class="text-start">{{ futureEvent.title }}</h4></a>
							<h5 class="text-start">{{ futureEvent.city }}</h5>
							<p class="text-start1 lh-1 p-3">{{ futureEvent.description }}</p>

							<div class="d-flex flex-row justify-content-between">
								<div class="filtre">
									<button class="d-flex btn card-filter-btn btn-warning align-items-center justify-content-start p-0">
										<div class="icon-background">
											<img src="assets/icons/icone-{{ futureEvent.category }}.svg" alt="">
										</div>
										<div class="card-activity-title mx-2">{{ futureEvent.typeOfEvent }}</div>
									</button>
								</div>

								<div class="d-flex justify-content-end iconeparticipants align-items-center">
									<div class="icon-wrapper icons-position icon-position-1"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-2"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-3"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-4"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-5"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
									<div class="icon-wrapper icons-position icon-position-6">{{ futureEvent.participantsRegistered}}/{{ futureEvent.participantsMax }}</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				{% set i = i + 1 %}
			{% endfor %}
		</div>
		<button class="see-more-btn">En voir plus</button>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script src="/javascript/filtre.js"></script>
{% endblock %}
