{% extends 'base.html.twig' %}

{% block title %}Amisgo{% endblock %}

{% block body %}
<div class="container text-center">
			<div class="row">
				<h2>Nos Activités</h2>
			</div>
			<!-- Content container -->
			<div class="d-flex flex-wrap" id="content-container">

				<!-- Search Section -->
				<div class="d-flex flex-wrap section justify-content-center">
					<div class="input-group justify-content-center search-bar">
						<!-- Localisation -->
						<select class="col-2 search-location">
							<option>
								Ile de France
							</option>
						</select>
						<!-- Input Search -->
						<div class="col-5 form-outline">
							<input type="search" id="Recherche" class="form-control" placeholder="Recherche une activité">
						</div>

						<!-- Button Search -->
						<button type="button" class="col-2 btn btn-outline-primary search-button">
							<i class="fas fa-search me-3"></i>
							Rechercher
						</button>
					</div>

					<! Filter Button Section ----->
					<div class="d-flex flex-wrap justify-content-around section" id="filter-button-wrapper">
						<button class="filter-button d-flex btn btn-warning align-items-center p-2">
							<div class="icon-background">
								<img src="assets/icons/icone-sport.svg" alt="">
							</div>
							<div class="activity-title">Sport</div>
						</button>
						<button class="filter-button d-flex btn btn-warning align-items-center p-2">
							<div class="icon-background">
								<img src="assets/icons/mountains_88302.svg" alt="">
							</div>
							<div class="activity-title">Plein air</div>
						</button>
						<button class="filter-button d-flex btn btn-warning align-items-center p-2">
							<div class="icon-background">
								<img src="assets/icons/icone-music.svg" alt="">
							</div>
							<div class="activity-title">Musique</div>
						</button>
						<button class="filter-button d-flex btn btn-warning align-items-center p-2">
							<div class="icon-background">
								<img src="assets/icons/icone-danse.svg" alt="">
							</div>
							<div class="activity-title">Danse</div>
						</button>
						<button class="filter-button d-flex btn btn-warning align-items-center p-2">
							<div class="icon-background">
								<img src="assets/icons/icone-cuisine.svg" alt="">
							</div>
							<div class="activity-title">Cuisine</div>
						</button>
						<button class="filter-button d-flex btn btn-warning align-items-center p-2">
							<div class="icon-background">
								<img src="assets/icons/icone-jeux.svg" alt="">
							</div>
							<div class="activity-title">Jeux</div>
						</button>
						<button class="filter-button d-flex btn btn-warning align-items-center p-2">
							<div class="icon-background">
								<img src="assets/icons/icone-spectacle.svg" alt="">
							</div>
							<div class="activity-title">Spectacle</div>
						</button>
						<button class="filter-button d-flex btn btn-warning align-items-center p-2">
							<div class="icon-background">
								<img src="assets/icons/icone-culture.svg" alt="">
							</div>
							<div class="activity-title">Culture</div>
						</button>
						<button class="filter-button d-flex btn btn-warning align-items-center p-2">
							<div class="icon-background">
								<img src="assets/icons/icone-bienetre.svg" alt="">
							</div>
							<div class="activity-title">Bien-être</div>
						</button>
						<button class="filter-button d-flex btn btn-warning align-items-center p-2">
							<div class="icon-background">
								<img src="assets/icons/icone-apero.svg" alt="">
							</div>
							<div class="activity-title">Apéro</div>
						</button>
					</div>
				</div>

				<!-- Popular Section -->
				<div class="section container-fluid section-cards-container">
					<h3 class="cards-title">Les plus populaires</h3>
					<h3 class="cards-title">{{ message }}</h3>

					<div class="section cards-container d-flex flex-wrap justify-content-center">
          {% for popularEvent in popularEvents %}
						<article class="col-6 card-item d-flex flex-row">
							<div class="card-item-img-wrapper">
								<div class="card-item-like-icon">
									<button><img src="/assets/icons/icone-heart-outlined.svg" alt=""></button>
								</div>
								<img class="card-item-img" src="{{ popularEvent.eventPicture }}" alt="">
							</div>

							<div class="d-flex flex-column card-item-body">
								<time class="d-flex justify-content-end" datetime="2018-07-03T20:00:00">{{ popularEvent.dateOfEvent|date("d F y H:m")}}</time>
								<div class="card-item-body-container">

									<h4 class="text-start">{{ popularEvent.title }}</h4>
									<h5 class="text-start">{{ popularEvent.city }}</h5>
									<p class="text-start lh-1 p-3">{{ popularEvent.description }}
									</p>

									<div class="d-flex flex-row justify-content-between">
										<div class="filtre">
											<button class="d-flex btn card-filter-btn btn-warning align-items-center justify-content-start p-0">
												<div class="icon-background">
													<img src="assets/icons/mountains_88302.svg" alt="">
												</div>
												<div class="card-activity-title mx-2">{{ popularEvent.typeOfEvent}}</div>
											</button>
										</div>

										<div class="d-flex justify-content-end iconeparticipants align-items-center">
											<div class="icon-wrapper icons-position icon-position-1"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
											<div class="icon-wrapper icons-position icon-position-2"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
											<div class="icon-wrapper icons-position icon-position-3"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
											<div class="icon-wrapper icons-position icon-position-4"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
											<div class="icon-wrapper icons-position icon-position-5"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
											<div class="icon-wrapper icons-position icon-position-6">{{ popularEvent.participantsRegistered}}/{{ popularEvent.participantsMax }}</div>
										</div>
									</div>
								</div>
							</div>
						</article>
                {% endfor %}
						
									
					
					</div>
					<a href="{{ path('app_events') }}"><button class="see-more-btn">A savoir plus</button></a>
				  </div>

				<!-- Coming soon Section -->
				<div class="section container-fluid section-cards-container">
					<h3 class="cards-title">A venir</h3>
          <h3 class="cards-title">{{ message }}</h3>
          
					<div class="section cards-container d-flex flex-wrap justify-content-center">
          {% for futureEvent in futureEvents %}
						<article class="col-6 card-item d-flex flex-row">
							<div class="card-item-img-wrapper">
								<div class="card-item-like-icon">
									<button><img src="/assets/icons/icone-heart.svg" alt=""></button>
								</div>
								<img class="card-item-img" src="/assets/img/kayak-activite.jpg" alt="">
							</div>

							<div class="d-flex flex-column card-item-body">
								<time class="d-flex justify-content-end" datetime="2018-07-03T20:00:00">{{futureEvent.dateOfEvent|date("d F y H:m")}}</time>
								<div class="card-item-body-container">

									<h4 class="text-start">{{ futureEvent.title }}</h4>
									<h5 class="text-start">{{ futureEvent.city }}</h5>
									<p class="text-start lh-1 p-3">{{futureEvent.description }}</p>

									<div class="d-flex flex-row justify-content-between">
										<div class="filtre">
											<button class="d-flex btn card-filter-btn btn-warning align-items-center justify-content-start p-0">
												<div class="icon-background">
													<img src="assets/icons/icone-culture.svg" alt="">
												</div>
												<div class="card-activity-title mx-2">{{ futureEvent.typeOfEvent }}</div>
											</button>
										</div>

										<div class="d-flex justify-content-end iconeparticipants align-items-center">
											<div class="icon-wrapper icons-position icon-position-1"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
											<div class="icon-wrapper icons-position icon-position-2"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
											<div class="icon-wrapper icons-position icon-position-3"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
											<div class="icon-wrapper icons-position icon-position-4"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
											<div class="icon-wrapper icons-position icon-position-5"><img class="icon-participants" src="assets/icons/icone-user.svg"></div>
											<div class="icon-wrapper icons-position icon-position-6">{{ futureEvent.participantsRegistered}}/{{ futureEvent.participantsMax }}</div>
										</div>
									</div>
								</div>
							</div>
						</article>
          {% endfor %}
				  </div>
					<a href="{{ path('app_events') }}"><button class="see-more-btn">A savoir plus</button></a>
				  </div>

				<!-- Personnalities Section -->
				<div class="section" id="personnalities-section-container">
					<h3 class="personnalities-section-title">Quelques personnalités</h3>
					<div class="personnalities-item-wrapper d-flex flex-wrap justify-content-center">
						<div class="personnalities-item">
								<img src="assets/img/02-sage.png" alt="">
								<div class="personnalities-item-description-wrapper">
									<div class="personnalities-item-title">Le sage</div>
									<div class="personnalities-item-description">
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Deleniti illo itaque beatae delectus id repudiandae, corporis
										debitis vel dolorum ea quaerat iure animi veniam? Nisi rerum repellendus repellat
										cum quasi!
									</div>
								</div>
						</div>
						<div class="personnalities-item">
								<img src="assets/img/05-createur.png" alt="">
								<div class="personnalities-item-description-wrapper">
									<div class="personnalities-item-title">Le sage</div>
									<div class="personnalities-item-description">
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Deleniti illo itaque beatae delectus id repudiandae, corporis
										debitis vel dolorum ea quaerat iure animi veniam? Nisi rerum repellendus repellat
										cum quasi!
									</div>
								</div>
						</div>
						<div class="personnalities-item">
								<img src="assets/img/11-populaire.png" alt="">
								<div class="personnalities-item-description-wrapper">
									<div class="personnalities-item-title">Le sage</div>
									<div class="personnalities-item-description">
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Deleniti illo itaque beatae delectus id repudiandae, corporis
										debitis vel dolorum ea quaerat iure animi veniam? Nisi rerum repellendus repellat
										cum quasi!
									</div>
								</div>
						</div>
					</div>
					<button class="see-more-btn">Voir plus</button>
				</div>

				<!-- Team Section -->
				<div class="section" id="team-section-container">
					<h3>Notre équipe</h3>
					<div class="team-items-container d-flex flex-wrap justify-content-center">
						<div class="team-item d-flex">
							<img src="assets/img/tasos-mansour-o_7J4koKmnM-unsplash.jpg" alt="">
							<div class="team-item-description text-start p-2">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est sequi, officiis sed dignissimos cumque quisquam?
							</div>
						</div>
						<div class="team-item d-flex">
							<img src="assets/img/tasos-mansour-o_7J4koKmnM-unsplash.jpg" alt="">
							<div class="team-item-description text-start p-2">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est sequi, officiis sed dignissimos cumque quisquam?
							</div>
						</div>
						<div class="team-item d-flex">
							<img src="assets/img/tasos-mansour-o_7J4koKmnM-unsplash.jpg" alt="">
							<div class="team-item-description text-start p-2">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est sequi, officiis sed dignissimos cumque quisquam?
							</div>
						</div>
						<div class="team-item d-flex">
							<img src="/assets/img/tasos-mansour-o_7J4koKmnM-unsplash.jpg" alt="">
							<div class="team-item-description text-start p-2">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est sequi, officiis sed dignissimos cumque quisquam?
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
{% endblock %}



