{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block title %}Amisgo
{% endblock %}

{% block body %}
	{% block stylesheet%}
		<link rel="stylesheet" href="/assets/css/design-system.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/personnalites.css">
	{% endblock %}

	<!---------------------------- Section top ---------------------------->

	<div class="container-fluid section-top home-pict">
		<div class="row">
			<div class="col-12 col-xl-8">
				<h1>Ready ? Amis ? Go !</h1>
				<p class="">
					Bienvenue sur Amisgo ! Découvre ton avatar grâce un test de personnalité. Ce test te permettra
																																																																																																																																			d’aller à la rencontre de personnes qui te correspondent au travers d’activités ludiques et
																																																																																																																																			variées.
					<br>
					Fais le test et embarque-toi dans l’aventure !
				</p>
				<div class="d-flex justify-content-end me-5" id="decouvrir">
					<button type="button" class="btn btn-heroshot">
						<a href="{{ path('app_persotest') }}">Faire le test !</a>
					</button>
				</div>
			</div>
		</div>
	</div>


	<!------------------------ HEADER END------------------------>
	<!------------------------ MAIN START------------------------>
	<main>
		<!-------------------------- H2 NOS ACTIVITES -------------------------->
		<div class="container text-center">
			<div class="row">
				<h2>Nos Activités</h2>
			</div>
		</div>

		<!-- Popular Section -->
		<div class="section container-fluid section-cards-container">
			<div class="row">
				<h3 class="cards-title">Les plus populaires</h3>
				<h3>{{ message }}</h3>
			</div>
		</div>
		<div class="section cards-container d-flex flex-wrap justify-content-center">
			{% set i = 0 %}
			{% for popularEvent in popularEvents %}
			{% set display = 'block' %}
				{% if i > 3 %}
					{% set display = 'none !important' %}
				{% endif %}
				<article class="col-12 col-xl-6 card-item d-flex flex-row justify-content-center">
					<div class="card-item-img-wrapper">
						<div class="card-item-like-icon">
							<button><img src="/assets/icons/icone-heart-outlined.svg" alt=""></button>
						</div>
						<a href="">
							<img class="card-item-img" src="/assets/img/{{ popularEvent.eventPicture }}" alt="">
						</a>
					</div>

					<div class="d-flex flex-column card-item-body">
						<time class="d-flex justify-content-end" datetime="2018-07-03T20:00:00">{{ popularEvent.dateOfEvent|date("d F y H:m")}}</time>
						<div class="card-item-body-container">

							<h4 class="text-start">{{ popularEvent.title }}</h4>
							<h5 class="text-start">{{ popularEvent.city }}</h5>
							<p class="text-start lh-1 p-3">{{ popularEvent.description }}</p>
							<div class="d-flex flex-row justify-content-between filter-wrapper">
								<div class="filtre">
									<button class="d-flex btn card-filter-btn btn-warning align-items-center justify-content-start p-0">
										<div class="icon-background">
											<img src="/assets/icons/icone-pleinair.svg" alt="">
										</div>
										<div class="card-activity-title mx-2">Plein air</div>
									</button>
								</div>

								<div class="profil-participants d-flex justify-content-end iconeparticipants align-items-center">
									<div class="icon-wrapper icons-position icon-position-1"><img class="icon-participants" src="/assets/img/icon-face01.jpg"></div>
									<div class="icon-wrapper icons-position icon-position-2"><img class="icon-participants" src="/assets/img/icon-face02.jpg"></div>
									<div class="icon-wrapper icons-position icon-position-3"><img class="icon-participants" src="/assets/img/icon-face03.jpg"></div>
									<div class="icon-wrapper icons-position icon-position-4"><img class="icon-participants" src="/assets/img/icon-face04.jpg"></div>
									<div class="icon-wrapper icons-position icon-position-5"><img class="icon-participants" src="/assets/img/icon-face06.jpg"></div>
									<div class="icon-wrapper icons-position icon-position-6">9/12</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				{% set i = i + 1 %}
			{% endfor %}

		</div>
		<div class="container text-center">
			<a href="{{ path('app_events') }}">
				<button class="see-more-btn">En savoir plus</button>
			</a>
			<div class="row"></div>

		</div>


		<!-- Coming soon Section -->
		<div class="section container-fluid section-cards-container">
			<h3 class="cards-title">A venir</h3>
			<h3>{{ message }}</h3>

			<div class="section cards-container d-flex flex-wrap justify-content-center">
				{% set i = 0 %}
				{% for futureEvent in futureEvents %}
					{% set display = 'block' %}
					{% if i > 3 %}
						{% set display = 'none !important' %}
					{% endif %}
				
					<article class="col-12 col-xl-6 card-item d-flex flex-row justify-content-center" data-category={{futureEvent.category}} style="display:{{display}}">
						<div class="card-item-img-wrapper">
							<div class="card-item-like-icon">
								<button><img src="/assets/icons/icone-heart-outlined.svg" alt=""></button>
							</div>
							<a href="">
								<img class="card-item-img" src="assets/img/{{ futureEvent.eventPicture }}" alt="">
							</a>

						</div>

						<div class="d-flex flex-column card-item-body">
							<time class="d-flex justify-content-end" datetime="2018-07-03T20:00:00">04
																																																																																																																																																																																											Août 2022
																																																																																																																																																																																											&nbsp;13:30</time>
							<div class="card-item-body-container">

								<h4 class="text-start">{{ futureEvent.title }}</h4>
								<h5 class="text-start">{{ futureEvent.city }}</h5>
								<p class="text-start lh-1 p-3">{{ futureEvent.description }}																																																																																																																																																																																manière ludique, avec le concours de ma...
								</p>

								<div class="d-flex flex-row justify-content-between filter-wrapper">
									<div class="filtre">
										<button class="d-flex btn card-filter-btn btn-warning align-items-center justify-content-start p-0">
											<div class="icon-background">
												<img src="/assets/icons/icone-culture.svg" alt="">
											</div>
											<div class="card-activity-title mx-2">{{ futureEvent.typeOfEvent }}</div>
										</button>
									</div>

									<div class="profil-participants d-flex justify-content-end iconeparticipants align-items-center">
										<div class="icon-wrapper icons-position icon-position-1"><img class="icon-participants" src="/assets/img/icon-face01.jpg"></div>
										<div class="icon-wrapper icons-position icon-position-2"><img class="icon-participants" src="/assets/img/icon-face02.jpg"></div>
										<div class="icon-wrapper icons-position icon-position-3"><img class="icon-participants" src="/assets/img/icon-face03.jpg"></div>
										<div class="icon-wrapper icons-position icon-position-4"><img class="icon-participants" src="/assets/img/icon-face04.jpg"></div>
										<div class="icon-wrapper icons-position icon-position-5"><img class="icon-participants" src="/assets/img/icon-face06.jpg"></div>
										<div class="icon-wrapper icons-position icon-position-6"{{ futureEvent.participantsRegistered}}/{{ futureEvent.participantsMax }}</div>
									</div>
								</div>
							</div>
						</div>
					</article>
					{% set i = i + 1 %}
			{% endfor %}
				</div>
			</div>
			<div class="container text-center">
				<a href="{{ path('app_events') }}">
					<button class="see-more-btn">En savoir plus</button>
				</a>
				<div class="row"></div>

			</div>
		</div>

		<!--------------------- Personnalities Section -------------------->
		<div class="section" id="personnalities-section-container">
			<h3 class=" row justify-content-center personnalities-section-title">Quelques personnalités</h3>
			<div class="personnalities-item-wrapper d-flex flex-wrap justify-content-evenly">
				<div class="personnalities-item">
					<a href="">
						<img src="/assets/img/02-sage-home.png" alt="">
					</a>

					<div class="personnalities-item-description-wrapper">
						<div class="personnalities-item-title">Le sage</div>
						<div class="personnalities-item-description">
							Celui qui passe son temps dans les livres. Le sage est une force tranquille, souvent un mentor, un expert, en quête de vérité. Il pense que c’est grâce à l’intelligence																																		et l’analyse que l’on comprend le monde.
						</div>
					</div>
				</div>
				<div class="personnalities-item">
					<a href="">
						<img src="/assets/img/04-protecteur-home.png" alt="">
					</a>
					<div class="personnalities-item-description-wrapper">
						<div class="personnalities-item-title">Le Protecteur</div>
						<div class="personnalities-item-description">
							Celui qui cherche à tout prix à aider les autres quitte à se sacrifier. Le protecteur est généreux, honorable et fiable. Il est tellement au service des autres qu’il manque parfois d’ambition ou de leadership.
						</div>
					</div>
				</div>
				<div class="personnalities-item">
					<a href="">
						<img src="/assets/img/11-populaire-home.png" alt="">
					</a>

					<div class="personnalities-item-description-wrapper">
						<div class="personnalities-item-title">Le Populaire</div>
						<div class="personnalities-item-description">
							Celui qui est guidé par ses émotions. Le populaire cherche à créer des connexions profondes avec les autres et craint d’être un mauvais ami. Il est passionné, humaniste et séducteur.
						</div>
					</div>
				</div>
			</div>

			<div class="container text-center">
				<a href="{{ path('app_personality') }}">
					<button class="see-more-btn">Voir plus</button>
				</a>
				<div class="row"></div>

			</div>
		</div>


		<!--------------------- Team Section ---------------------------->
		<div class="section container" id="team-section-container">
			<h3>Notre équipe</h3>
			<div class="row section team-items-container d-flex flex-wrap">
				<div class="col-12 col-xl-3 team-item d-flex flex-column align-items-center p-3">
					<div class="team-item-img">
						<a href="">
							<img src="/assets/img/pp-romane.jpg" alt="">
						</a>

					</div>
					<div class="team-item-title">Emma Chario</div>
					<div class="team-item-title-2 mb-4">Fondatrice & CEO</div>
					<div class="team-item-description-wrapper d-flex align-items-center">
						<img src="/assets/img/09-pragmatique.png" alt="">
						<div class="team-item-description">pragmatique</div>
					</div>
				</div>
				<div class="col-12 col-xl-3 team-item d-flex flex-column align-items-center p-3">
					<div class="team-item-img">
						<img src="/assets/img/pp-romane.jpg" alt="">
					</div>
					<div class="team-item-title">Jeanne Moreau</div>
					<div class="team-item-title-2 mb-4">Marketing Manager</div>
					<div class="team-item-description-wrapper d-flex align-items-center">
						<img src="/assets/img/08-rebelle.png" alt="">
						<div class="team-item-description">Rebelle</div>
					</div>
				</div>
				<div class="col-12 col-xl-3 team-item d-flex flex-column align-items-center p-3">
					<div class="team-item-img">
						<img src="/assets/img/pp-romane.jpg" alt="">
					</div>
					<div class="team-item-title">Marc Amils</div>
					<div class="team-item-title-2 mb-4">Technical Officer</div>
					<div class="team-item-description-wrapper d-flex align-items-center">
						<img src="/assets/img/04-protecteur.png" alt="">
						<div class="team-item-description">Protecteur</div>
					</div>
				</div>
				<div class="col-12 col-xl-3 team-item d-flex flex-column align-items-center p-3">
					<div class="team-item-img">
						<img src="/assets/img/pp-romane.jpg" alt="">
					</div>
					<div class="team-item-title">Alex Wu</div>
					<div class="team-item-title-2 mb-4">Financial Director</div>
					<div class="team-item-description-wrapper d-flex align-items-center">
						<img src="/assets/img/09-heros.png" alt="">
						<div class="team-item-description">Héro</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!------------------------ MAIN END ------------------------>
{% endblock %}
