{% extends 'base.html.twig' %}

{% block title %}Personnalités!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


 <!------------------------ MAIN START------------------------>
    <main>
      <section class="container">
        


        <div class="container">
          <div class="row justify-content-center">
            <!-------------------------- Card 01  -------------------------->
            {% set tabData = ['Les Meneurs','Les éclaireurs', 'Les émancipateurs','Les Intermédiaires'] %}
            {% set i = 0 %}
            {% set u = 0 %}
            {% for person in persons %}
            {% if i == 0 %}
          <!-------------------------- section Title -------------------------->

            <div class="row text-center">
              <h3>{{ tabData[u] }}</h3>
            </div>
            {% endif %}
        <!-------------------------- Cards section  -------------------------->
            <div class="col-3 card justify-content-center mx-3">
              <img class="card-img-top" src="assets/img/{{person.personalityPicture}}" alt="Card image cap">
              <div class="card-personnality-body">
               <a href="{{ path('app_perso', {'title': person.typeOfPersonality }) }}"> <h4 class="card-title">{{person.typeOfPersonality}}</h4></a>
                <p class="card-text">{{person.description}}</p>
              </div>
            </div>
            {% set i = i + 1 %}
            
            {% if i == 3 %}
              {% set i = 0 %}
              {% set u = u + 1 %}
            {% endif %}
            
            {% endfor %}
      </section><br />

        <!-------------------------- Bottom section -------------------------->
        <section class="container-fluid">
          <div class="row" style="background-color: grey;">
            <div class="col-sm col-md-4 col-xxl-6">
              <h3>Et toi ? <br /> Quel type d'AmisGO es-tu ?</h3>
            </div>

            <div class="col-sm col-md-4 col-xxl-6">
              <img src="" alt="">
            </div>

          </div>
        </section>

    </main>
    <!------------------------ MAIN END------------------------>


{% endblock %}
